<%- include('partials/header') %>
<h1>Osciloscópio digital</h1>
<p>Bem-vindo a esta aplicação que te permite estudar as funcionalidades do Osciloscópio, com possibilidade de conseguires controlar o Osciloscópio à distância ou então de estudares uma forma de onda que tenhas guardada. Ou melhor, até mesmo estudares com ondas geradas pelo Excel.</p>
<div>
    <h3>Modo de funcionamento 1</h3>
    <h4>Full-duplex</h4>
    <p>Neste modo és capaz de controlar o osciloscópio remotamente</p>
    <a href="/homepage">
        <button>Full-duplex</button>
    </a>
</div>
<%- include('partials/footer') %>